.label-checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-generate-password {
  display: flex;
  justify-content: flex-end;
  flex-basis: 90%;
}

.input-generate-password {
  display: flex;
}

.flex-basis {
  flex-basis: 40%
}
